@import 'SharedStyles.css';

.post-scheduler-container {
    /* Estilos específicos para o container do agendador, se necessário */
}

.post-scheduler-title {
    /* Estilos específicos para o título do agendador, se necessário */
}

.emoji-picker-button {
    margin-top: 10px;
}

.schedule-button, .clear-button {
    composes: form-button;
}

.clear-button {
    background-color: #6c757d;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}